/DigStrategy.class
/DivingSuitStrategy.class
/HelpStrategy.class
/Igloo.class
/IglooStrategy.class
/NoDivingSuit.class
/NoIgloo.class
/NoRopeHelp.class
/NoShovelDig.class
/RopeHelp.class
/ShovelDig.class
/WaterStrategy.class
/BearStrategy.class
